* {
    border: none;
    font-family: Iosevka Extrabold;
    font-size: 15px;
    color: #A7C080;
    border-radius: 20px;
}

window {
	/*font-weight: bold;*/
}
window#waybar {
	background: rgba(39, 46, 51, 0.3);
    /* background: rgba(242, 239, 223, 0.3); */
	border-radius: 0px;
    text-shadow: 2px 2px 5px #1E2326;
}

#custom-separator {
	/* padding: 0px 15px; */
	border-radius: 0;
}

/*-----module groups----*/
.modules-right {
    background: rgba(0, 0, 0, 0);
	border-radius: 10px;
	/* margin-bottom: 20px; */
	margin-right: 20px;
	font-size: 5rem;
	/* border-bottom: 2px solid #A7C080; */
}

#battery {
	padding: 6px 10px 6px 15px;
	border-radius: 10px 0 0 10px;
}

#network {
	padding: 0 10px;
	border-radius: 0;
}

#language {
	padding: 0 10px;
	border-radius: 0;
}

#wireplumber {
	padding: 0 10px;
	border-radius: 0;
}

#clock {
	padding: 0 16px 0 10px;
	border-radius: 0 10px 10px 0;
}

.modules-left {
	background: rgba(0, 0, 0, 0);
	border-radius: 10px;
	/* margin-bottom: 20px; */
	margin-left: 20px;
	/* border-bottom: 2px solid #A7C080; */
}

#custom-spider {
	padding: 0 10px;
	margin: 0 5px 0 0;
	border-radius: 10px;
	font-family: 'Font Awesome 6 Free Regular';
}

#cpu {
	padding: 0 10px 0 15px;	
	border-radius: 10px 0 0 10px;
}

#memory {
	padding: 0 15px 0 10px;
	border-radius: 0 10px 10px 0;
}

#tray {
	margin-left: 10px;
	margin-right: 10px;
}

#custom-artix {
	padding: 0 10px;
	margin: 0 5px;
	border-radius: 10px;
}

.modules-center {
	/* padding: 0px 30px; */
    color: transparent;
}

#custom-workspaces {
    color: transparent;
}
