* {
    border: none;
    font-family: Iosevka Extrabold;
    font-size: 15px;
    color: #cdd6f4;
    border-radius: 20px;
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(0, 0, 0, 0);
	background: linear-gradient(#1e1e2e 64%, transparent 0%);
	border-radius: 0px;
}

#custom-separator {
	/* padding: 0px 15px; */
	border-radius: 0;
}

/*-----module groups----*/
.modules-right {
    background: rgba(0, 0, 0, 0);
	border-radius: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	font-size: 5rem;
	border-bottom: 2px solid #cdd6f4;
}

#battery {
	padding: 6px 10px 6px 15px;
	border-radius: 10px 0 0 10px;
}

#network {
	padding: 0 10px;
	border-radius: 0;
}

#language {
	padding: 0 10px;
	border-radius: 0;
}

#pulseaudio {
	padding: 0 10px;
	border-radius: 0;
}

#clock {
	padding: 0 16px 0 10px;
	border-radius: 0 10px 10px 0;
}

.modules-left {
	background: rgba(0, 0, 0, 0);
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-bottom: 2px solid #cdd6f4;
}

#custom-spider {
	padding: 0 10px;
	margin: 0 5px 0 0;
	border-radius: 10px;
	font-family: 'Font Awesome 6 Free Regular';
}

#cpu {
	padding: 0 10px 0 15px;	
	border-radius: 10px 0 0 10px;
}

#memory {
	padding: 0 15px 0 10px;
	border-radius: 0 10px 10px 0;
}

#tray {
	margin-left: 10px;
	margin-right: 10px;
}

#custom-artix {
	padding: 0 10px;
	margin: 0 5px;
	border-radius: 10px;
}

.modules-center {
	padding: 10px 30px;
	margin-bottom: 5px;
	border-radius: 15px;
	border-top: 2px solid #cdd6f4;
    background: #1e1e2e;
}

#custom-ws1, 
#custom-ws2, 
#custom-ws3, 
#custom-ws4, 
#custom-ws5, 
#custom-ws6, 
#custom-ws7, 
#custom-ws8, 
#custom-ws9,
#custom-ws10 {
	background: #313244;
	border: 2px solid #313244;
	margin: 5px 8px;
}

#custom-ws1.active, 
#custom-ws2.active, 
#custom-ws3.active, 
#custom-ws4.active, 
#custom-ws5.active, 
#custom-ws6.active, 
#custom-ws7.active, 
#custom-ws8.active, 
#custom-ws9.active, 
#custom-ws10.active {
	background: #313244;
	border: 2px solid #cdd6f4;
}

#custom-ws1.current, 
#custom-ws2.current, 
#custom-ws3.current, 
#custom-ws4.current, 
#custom-ws5.current, 
#custom-ws6.current, 
#custom-ws7.current, 
#custom-ws8.current, 
#custom-ws9.current, 
#custom-ws10.current {
	background: #cdd6f4;
	border: 2px solid #cdd6f4;
}
